#python virtual environments :)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/
.pytest_cache/

# Frontend :(
node_modules/
npm-debug.log*
/frontend/dist/
*.local

# env files
.env
.env*.local

# Data data data
uploads/
/backend/uploads/
pgdata/
/data/raw/
/data/degraded/
/data/hybrid_benchmark/
/data/stress_test/
/data/*.csv
*.db
image_quality.db

# Checkpoints(to proceed or not with the changed params)
scratch/
ml/models/*_v2.pt
ml/models/*_v2.json

# Logs
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
